extends layout

block content
  .calendar-container
    .calendar-header
      button.btn.btn-light#updateToday Today
      .ico-arrow
        a(href='#' data-toggle='tooltip' data-placement='top' id='prevBtn' title='이전')
          i.material-icons
            | chevron_left
        a(href='#' data-toggle='tooltip' data-placement='top' id='nextBtn' title='다음')
          i.material-icons
            | chevron_right
      h4.today
      ul#view.nav.nav-tabs.view-tab(role='tablist')
        li.nav-item
          a#tab-month.nav-link.active(data-toggle='tab' href='#month' role='tab' aria-controls='month' aria-selected='true') &#xC6D4;
        li.nav-item
          a#tab-day.nav-link(data-toggle='tab' href='#day' role='tab' aria-controls='day' aria-selected='false') &#xC77C;
    .tab-content
      #month.tab-pane.active.show(role='tabpanel' aria-labelledby='tab-month')
        .monthly-calendar
          .week-day
            .day-name &#xC77C;
            .day-name &#xC6D4;
            .day-name &#xD654;
            .day-name &#xC218;
            .day-name &#xBAA9;
            .day-name &#xAE08;
            .day-name &#xD1A0;
          .week
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
          .week
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
          .week
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
          .week
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
          .week
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
          .week
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
            .day 
              h3.day-label 
      #day.tab-pane(role='tabpanel' aria-labelledby='tab-day')
        .daily-calendar
          span#daliy-text.day-name 